body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

section {
    background-color: #f7f7f7;
    padding: 2em;
    margin-bottom: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-weight: bold;
    margin-top: 0;
}

section p {
    font-size: 1.2em;
    margin-bottom: 1em;
}

#profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1em;
}

#bio {
    margin-top: 2em;
}

.social-media img {
    /* Mengatur lebar elemen gambar */
    width: 30px;
     /* Mengatur tinggi elemen gambar*/
    height: 30px;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 0.5em;
    text-align: center;
    clear: both;
}