body {
    /* Mengatur font yang digunakan untuk elemen body sebagai Arial dengan fallback sebagai sans-serif. */
    font-family: Arial, sans-serif;
    /* Mengatur margin dari elemen body menjadi nol, sehingga elemen lain tidak memiliki ruang di sekitar body. */
    margin: 0;
    /* Mengatur padding dari elemen body menjadi nol, sehingga elemen lain tidak memiliki ruang di dalam body. */
    padding: 0;
}

header {
    /* Mengatur warna latar belakang elemen header menjadi hitam (#333). */
    background-color: #333;
    /* Mengatur warna teks elemen header menjadi putih (#fff). */
    color: #fff;
    /* Mengatur jarak antara teks dan tepi elemen header menjadi 1 em. */
    padding: 1em;
    /* Mengatur posisi teks elemen header menjadi tengah. */
    text-align: center;
}

header h1 {
    /* Mengatur ukuran font elemen h1 di elemen header menjadi 2 em. */
    font-size: 2em;
    /* Mengatur jarak antara elemen h1 dan elemen lain di elemen header menjadi 0.5 em. */
    margin-bottom: 0.5em;
}

nav ul {
    /* Menghapus gaya default untuk elemen ul (daftar). */
    list-style: none;
    /* Mengatur margin dari elemen ul menjadi nol. */
    margin: 0;
    /* Mengatur padding dari elemen ul menjadi nol. */
    padding: 0;
    /* Mengatur tampilan elemen ul menjadi flexbox, memungkinkan elemen li untuk berada disamping. */
    display: inline-flex;
    /* Mengatur jarak antara elemen li menjadi sama, dengan elemen pertama dan terakhir berada di tepi. */
    justify-content: space-between;
}

nav li {
    /* Mengatur jarak antara elemen li dan elemen lain menjadi 20 piksel. */
    margin-right: 20px;
}

nav a {
    /* Mengatur warna teks elemen a menjadi putih (#fff). */
    color: #fff;
    /* Menghapus garis bawah elemen a. */
    text-decoration: none;
}

nav a:hover {
    /* Mengatur warna teks elemen a . */
    color: #ccc;
}

main {
    /* Mengatur tampilan elemen main menjadi grid, memungkinkan elemen lain untuk berada dalam grid. */
    display: grid;
    /* Mengatur jumlah kolom grid menjadi dua, dengan proporsi 1fr dan 3fr. */
    grid-template-columns: 1fr 3fr;
    /* Mengatur jarak antara elemen grid menjadi 20 piksel. */
    grid-gap: 20px;
}

aside {
    /* Mengatur warna latar belakang elemen aside menjadi putih (#f7f7f7). */
    background-color: #f7f7f7;
    /* Mengatur jarak antara teks dan tepi elemen aside menjadi 1 em. */
    padding: 1em;
    /* Mengatur border elemen aside menjadi 1 piksel dengan warna abu-abu (#ddd). */
    border: 1px solid #ddd;
}

.profile img {
    /* Mengatur lebar elemen gambar menjadi sama dengan lebar elemen induk. */
    width: 100%;
    /* Mengatur tinggi elemen gambar menjadi sama dengan tinggi elemen induk. */
    height: 100%;
    /* Mengatur radius sudut elemen gambar menjadi 50%, membuatnya menjadi bulat. */
    border-radius: 50%;
    /* Mengatur jarak antara elemen gambar dan elemen lain menjadi 1 em. */
    margin-bottom: 1em;
}

.uad img {
    /* Mengatur lebar elemen gambar menjadi sama dengan lebar elemen induk. */
    width: 100px;
    /* Mengatur tinggi elemen gambar menjadi sama dengan tinggi elemen induk. */
    height: 100px;
    /* Mengatur radius sudut elemen gambar menjadi 50%, membuatnya menjadi bulat. */
    border-radius: 50%;
    /* Mengatur jarak antara elemen gambar dan elemen lain menjadi 1 em. */
    margin-bottom: 1em;
}

.penjelasan {
    /* Mengatur posisi teks elemen penjelasan menjadi rata kiri. */
    text-align: justify;
}

.kampus img {
    /* Mengatur lebar elemen gambar menjadi sama dengan lebar elemen induk. */
    width: 50%;
    /* Mengatur tinggi elemen gambar menjadi sama dengan tinggi elemen induk. */
    height: 50%;
    /* Mengatur jarak antara elemen gambar dan elemen . */
    margin-bottom: 1em;
}

article {
    /* Mengatur elemen article untuk berada di kolom kedua dari grid. */
    grid-column: 2;
}


footer {
    /* Mengatur warna latar belakang elemen footer menjadi hitam . */
    background-color: #333;
    /* Mengatur warna teks elemen footer menjadi putih . */
    color: #fff;
    /* Mengatur jarak antara teks dan tepi elemen footer . */
    padding: 1em;
    /* Mengatur posisi teks elemen footer . */
    text-align: center;
    /* Mengatur elemen footer untuk berada di bawah elemen lain, menghilangkan efek "float" yang dapat menyebabkan elemen lain tidak berada di bawahnya. */
    clear: both;
}
.social-media img {
    /* Mengatur lebar elemen gambar */
    width: 30px;
     /* Mengatur tinggi elemen gambar*/
    height: 30px;
}

footer p {
    /* Mengatur ukuran font elemen p di elemen footer . */
    font-size: 0.8em;
}